<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta property="fb:admins" content="100004324051806"/>

    <link rel="image_src" href="{{asset "img/logo_square.png"}}" />
    <link rel="icon" type="image/png" href="{{asset "img/favico.png"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:300,400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    {{#if pagination.next}}<link href="{{page_url pagination.next}}" rel="prefetch" />{{/if}}

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <header id="site-head">
        {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><div class="bloglogo" style="background: url({{@blog.logo}})"></div></a>{{/if}}
        <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        {{> header-description}}
        {{!> menu}}
    </header>

    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
            {{!> footer-description}}
            <section><a href="https://twitter.com/alltheflowblog" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @alltheflowblog</a></section>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <section class="copyright">&copy; {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. All rights reserved.</section>
            <section>Vapor theme by <a href="http://sethlilly.com/">Seth Lilly</a></section>
            <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org/"><span class="hidden">Ghost</span></a></section>

            <!-- Begin MailChimp Signup Form -->
            <!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
            	#mc_embed_signup{background:#fff; clear:left; font:15px sans-serif;  width:340px;}
            	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
              <div id="mc_embed_signup">
                <form action="//alltheflow.us11.list-manage.com/subscribe/post?u=8577ba38b9aa5e1ab38e1638d&amp;id=4034cabdd3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                	<label for="mce-EMAIL">Subscribe to the All The Flow newsletter:</label>
                	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <! real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8577ba38b9aa5e1ab38e1638d_4034cabdd3" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
                </form>
              </div> -->
            <!--End mc_embed_signup-->
          </div>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
